.help-page{
  min-height: 100vh;
  .container{
    &__head{
      .bread-crumbs{
        background: #F8E0E0;
        a {
          color: #4169e1;
        }
        li.breadcrumb{
          background: #F8E0E0;;
        }
      }
    }
    .help-contents{
      background: #f7f7f7;
      padding: 10px 20px;
      margin-bottom: 40px;
      &__title{
        background: $primary;
        padding: 10px 16px;
      }
      &__head{
        margin: 30px 0;
        p{
          font-size: 40px;
          font-weight: 300;
          color: #4169e1;
        }
        li {
          a{
            font-weight: bold;
            color: #333;
          }
        }
      }
      &__inner{
        h2{
          border-bottom: 1px solid #666666;
          border-left: 5px solid #666666;
          padding: 0px 0px 3px 10px;
          margin-bottom: 5px;
        }
        p{
          font-size: 20px;
          margin: 20px 0px;
        }
        ul{
          list-style: none;
          font-size: 20px;
          margin: 20px 0px;
        }
        .text-right{
          text-align: right;
          font-size: 30px;
          font-weight: bold;
          color: black;
          margin-bottom: 30px;
        }
      }
    }
  }
}
