.wrapper.clearfix.col-sm-8.col-md-8.pull-left
  %section
    .board-text
      %table.table
        %thead
          %tr.table-success
            %th{style: "width: 100px"} スレッドID
            %th{scope: "col"} タイトル
        %tbody
          %table.table.table-striped.table-hover
            = render partial: 'boards/description', collection: @board, as: :board
      %tbody.text-center
        = will_paginate @board,previous_label: ' < 前へ', next_label: '次へ >'