.wrapper.clearfix.col-sm-8.col-md-8.pull-left
  %section
    .board-text
      %table.table
        %thead
          %tr.table-success
            %th{style: "width: 100px"} スレッドID
            %th{scope: "col"} タイトル
        %tbody
          %table.table.table-striped.table-hover.mb-4
            = render partial: 'boards/description', collection: @board, as: :board
      %tbody.text-center
        = paginate @board
