.password-forgot-page{
  min-height: 100vh;
  background: url("cosmos.jpg") fixed;
  background-size: cover;
  .password-container{
    padding: 30px 0;
    margin: 0 auto;
  }
  .container{
    @include user-box;
    @include box-size;
  }
  h2{
    @include user-title;
  }
  .form-group{
    label{
      font-weight: bold;
      font-size: 16px;
      color: $light;
    }
    span {
      background: red;
      height: 30px;
      border-radius: 4px;
    }
  }
  .actions{
    padding: 0 auto;
    .btn.btn-secondary{
      text-align: center;
      margin: 0 auto;
    }
  }
  .page-links{
    &__registration{
      margin: 20px 0px;
      .btn-registration-link{
        @include user-btn;
      }
    }
    &__login{
      margin: 20px 0px;
      .btn-login-link{
        @include user-btn;
      }
    }
  }
}