.board-wrapper{
  min-height: 100vh;
  background: url("star.jpg") fixed;
  background-size: cover;
  .board-index{
    .container{
      .header{
        background-color: #fff;
        background-repeat: no-repeat;
      }
    }
    .search-contents{
      padding-top: 30px;
    }
    .search-word{
      float: left;
      background: #fff;
      margin: 1rem;
      border-radius: 10px;
      height: 50px;
      line-height: 50px;
      p{
        font-size: 24px;
        color: $black;
      }
    }
  }
}
