.bread-crumbs{
  margin-bottom: 10px;
  ul{
    padding-left: 0px;
  }
  li.breadcrumb{
    font-size: 24px;
    background: #fff;
    a {
      color: #4169e1;
    }
    span{
      color: #4169e1;
    }
  }
}
