#index_header_box{
  margin: 20px 0px 20px 0px;
  font-size: 14px;
  background-color: #FFFFFF;
  padding: 20px 0px 20px 20px;
  border-radius: 0.6rem;
  background-repeat: no-repeat;
  bottom: 0px;
  background-position: right 10pt bottom 0pt;
  background-size: 320px 203px;
  ul {
    padding-left: 0px;
    list-style: none;
    a {
      margin: 6px 12px 0 0;
      color: #4169e1;
      text-decoration: none;
    }
  }
}