.board-sidebar{
  @media screen and (min-width: 500px){
    position: static;
  }
  position: sticky;
  margin: 1rem;
  min-height: 30vh;
  top: 20px;
  padding: 20px;
  border: solid 1px #ff614c;
  border-radius: 10px;
  background-color: #fff;
  a {
    text-decoration: none;
    color: $blue;
  }
  .user-name{
    font-size: 20px;
    margin-bottom: 15px;
    p{
      color: $blue;
    }
  }
  .side-nav{
    a{
      color: $orange;
      text-decoration: none;
    }
  }
  #RealtimeClockArea{
    color: $black;
    font-size: 20px;
  }
}