.board-text{
  padding: 0px;
  .table{
    margin-bottom: 0px;
    thead{
      border-bottom: solid 5px #333333;
      th{
        padding: 7px 10px;
        font-size: 13px;
        font-weight: bold;
      }
    }
    tbody{
      background-color: white;
      tr.active{
        .icon-field{
          background: gray;
          width: 2rem;
          float: right;
          padding: 0;
          height: 100%;
          cursor: pointer;
          .far.fa-plus-square{
            padding: 0 0.5rem;
            color: white;
          }
        }
        .collapse{
          .card.card-body{
            .board-description{
              margin-bottom: 10px;
              font-weight: 400;
              letter-spacing: 2px;
              color: black;
              font-size: 16px;
            }
            .board-category{
              padding: 10px 0;
              line-height: 24px;
              font-size: 18px;
              vertical-align: middle;
              .category-name{
                font-size: 24px;
                margin-left: 6px;
                border: 1px solid $secondary;
                padding: 4px;
                border-radius: 3px;
              }
            }
          }
        }
      }
    }
  }
}