.thread_show{
  background: url("star.jpg");
  .message_area{
    margin-top: 20px;
    .return_board{
      display: block;
      height: 100%;
      width: 99%;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid #ccc;
      transition: background-color .3s ease-out;
      background-color: #fff;
      a {
        color: black;
      }
      .fas.fa-undo{
        color: blue;
      }
    }
    .board_title{
      margin: 0px;
      padding: 15px 0px;
      h1{
        font-size: 30px;
        font-weight: bold;
        color: #ff0000;
        width: 100%;
      }
    }
  }
  .message-box{
    display: block;
    &__info{
      border-top: 1px solid #d2d2d2;
      padding-top: 8px;
      padding-left: 6px;
      padding-bottom: 3px;
      margin-top: 0px;
      font-size: 16px;
    }
    &__text{
      color: #3c3c3c;
    padding-left: 15px;
    padding-top: 18px;
    padding-bottom: 40px;
    word-wrap: break-word;
    line-height: 140%;
    font-size: 17px;
    }
  }
  .form-group{
    label{
      display: block;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .respond_area{
      background-repeat: no-repeat;
      background-position: bottom right;
      margin-bottom: 15px;
      min-width: 500px;
      height: 150px;
      overflow: scroll;
    }
  }
  .respond-btn{
    width: 50%;
    height: 50px;
    position: relative;
    float: left;
  }
  blockquote{
    background-color: #fdfdfd;
    padding: 10px;
    font-size: 18px;
    border: 1px dashed #999999;
    margin: 10px 10px 30px 0px;
  }
}