.thread_show{
  background: image-url("star.jpg") fixed;
  background-size: cover;
  .message-sidebar{
    position: sticky;
    float: right;
    width: 15%;
    top: 10px;
    min-height: 30vh;
    border: solid 1px #ff614c;
    background-color: #fff;
    border-radius: 20px;
    z-index: 1;
    &__arrow{
      margin: 10px auto 0;
      font-size: 60px;
      top: 20px;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }
  }
  .message_area{
    margin: 1.5rem;
    .board_title{
      margin: 0px;
      padding: 15px 0px;
      h1{
        font-size: 30px;
        font-weight: bold;
        color: #ff0000;
        width: 100%;
      }
    }
    .comment-count{
      font-size: 20px;
      color: #e72510;
      min-width: 150px;
    }
  }
  .message-box{
    display: block;
    &__info{
      border-top: 1px solid #d2d2d2;
      padding-top: 8px;
      padding-left: 6px;
      padding-bottom: 3px;
      margin-top: 0px;
      font-size: 16px;
      .message-name{
        color: green;
        margin-left: 10px;
      }
      .message-date{
        margin-left: 10px;
      }
    }
    &__text{
      color: #3c3c3c;
    padding-left: 15px;
    padding-top: 18px;
    padding-bottom: 40px;
    word-wrap: break-word;
    line-height: 140%;
    font-size: 17px;
      img{
        width: 50%;
        background-size: cover;
      }
    }
  }
  .respond_create{
    margin: 1.5rem;
    .respond-btn{
      width: 30%;
      height: 50px;
    }
    .bottom-contents{
      margin-top: 20px;
      font-size: 20px;
      .top-return{
        text-decoration: none;
      }
      .btn.btn-link{
        margin-left: 10px;
        padding: 0;
        text-decoration: none;
        font-size: 20px;
      }
      .edit-btn{
        color: $blue;
      }
    }
  }
  .form-group{
    label{
      display: block;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .respond_name{
      display: block;
      width: 300px;
      height: 50px;
      margin: 10px 0 10px 0;
      border-radius: 4px;
      padding: 4px 8px;
    }
    .readonly-form{
      background-color: $gray-600;
    }
    .respond_area{
      background-repeat: no-repeat;
      background-position: bottom right;
      margin-bottom: 15px;
      width: 80%;
      height: 150px;
      overflow: scroll;
      border-radius: 4px;
      position: relative;
    }
    .form-control-file{
      margin: 10px 0;
    }
  }
  blockquote{
    background-color: #fdfdfd;
    padding: 10px;
    font-size: 18px;
    border: 1px dashed #999999;
    margin: 1.5rem;
  }
}