.thread_show{
  background: url("star.jpg") fixed;
  background-size: cover;
  .message-sidevar{
    position: sticky;
    float: right;
    width: 15%;
    margin: 20px 0 20px 40px;
    top: 10px;
    min-height: 30vh;
    border: solid 1px #ff614c;
    background-color: #fff;
    border-radius: 20px;
    &__arrow{
      margin-top: 10px;
      margin-left: 20px;
      font-size: 60px;
      top: 20px;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }
  }
  .message_area{
    margin-top: 20px;
    .board_title{
      margin: 0px;
      padding: 15px 0px;
      h1{
        font-size: 30px;
        font-weight: bold;
        color: #ff0000;
        width: 100%;
      }
    }
  }
  .message-box{
    display: block;
    &__info{
      border-top: 1px solid #d2d2d2;
      padding-top: 8px;
      padding-left: 6px;
      padding-bottom: 3px;
      margin-top: 0px;
      font-size: 16px;
      .message-name{
        color: green;
        margin-left: 10px;
      }
      .message-date{
        margin-left: 10px;
      }
    }
    &__text{
      color: #3c3c3c;
    padding-left: 15px;
    padding-top: 18px;
    padding-bottom: 40px;
    word-wrap: break-word;
    line-height: 140%;
    font-size: 17px;
    }
  }
  .top-return{
    float: right;
    font-size: 20px;
    margin: 0;
    text-decoration: none;
  }
  .form-group{
    label{
      display: block;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .respond_name{
      display: block;
      width: 300px;
      height: 50px;
      margin: 10px 0 10px 0;
      border-radius: 4px;
    }
    .respond_area{
      background-repeat: no-repeat;
      background-position: bottom right;
      margin-bottom: 15px;
      min-width: 500px;
      height: 150px;
      overflow: scroll;
      border-radius: 4px;
    }
  }
  .respond-btn{
    width: 50%;
    height: 50px;
    position: relative;
    float: left;
  }
  blockquote{
    background-color: #fdfdfd;
    padding: 10px;
    font-size: 18px;
    border: 1px dashed #999999;
    margin: 10px 10px 30px 0px;
  }
}