%nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary
  = link_to "みほう掲示板",root_path, class: "navbar-brand"
  %button.navbar-toggler{"aria-controls": "navbarColor02", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarColor02", "data-toggle": "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarColor02.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{href: "#"}
          個人ページ
          %span.sr-only
      %li.nav-item.active
        = link_to "Twitter", "https://twitter.com/MihouTechPeak51", class: "nav-link"
      - if user_signed_in?
        %li.nav-item.active
          = link_to "マイページ", user_path(current_user), class: "nav-link"
    .form-inline.my-2.my-lg-0
      = render "boards/search-form"
