.main-side
  - if user_signed_in?
    %h5 ようこそ
    = current_user.name
    さん
    %h5.btn.btn-outline-secondary.mt-4
      = link_to "新規スレッド作成",new_board_path
  - else
    %h5 ゲストさん
    .side-nav-box
      .side-nav
        %h5.side-nav__signin.btn.btn-outline-primary
          = link_to "新規会員登録",new_user_registration_path
        %h5.side-nav__login.btn.btn-outline-primary
          = link_to "ログイン",new_user_session_path