.topic-create
  .container
    = form_for(@board) do |f|
      - if @board.errors.any?
        - @board.errors.full_messages.each do |err|
          %font{color: "red"}= err
          %br/
      %div= f.text_field :title
      = f.submit
      %br/
    %hr/
