.help-page
  .help-wrapper
    .container
      .container__head
        - breadcrumb :assistance
        = render 'layouts/breadcrumbs'
      .help-contents
        .help-contents__title
          %h2 掲示板の使い方
        .help-contents__head